*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.field1{
    display: block;
    height: 100vh;
    background-color: beige;
}
.field2{
    display: flex;
    height: 100vh;
    padding: 25% 0 0;
    justify-content: center;
    background-color:aquamarine;
    color: #fff;
}
.field3{
    display: block;
    height: 100vh;
    background-color:pink;
}

.box{
    height: 50px;
    width: 50px;
    background-color: black;
}


.active{
    background-color: brown;
}